
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Cloud-logo {
  height: 30vmin;
  pointer-events: none;
}

.Cloud-logo2 {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Cloud-logo {
    animation: cloud1 infinite 50s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Cloud-logo2 {
    animation: cloud2 infinite 50s linear;
  }
}
.h1{
  font: normal small-caps normal 42px/1.4 Georgia;
  font-style: oblique 23deg;
}
.App-header {
  background-color: #19A6F6;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cloud1 {
      from{transform: translate3d(-850px,0px,0px)}
      /* If you just right, the number with a minus in front -850px */
      to{transform: translate3d(0px,0px,0px)}
  }

  @keyframes cloud2 {
        from{transform: translate3d(0px,0px,0px)}
        /* If you just right, the number with a minus in front -850px */
        to{transform: translate3d(-850px,0px,0px)}
    }
