body {
  margin: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{

  padding: 10px;
  background-color: rgb(235, 195, 64);
  position: absolute;
  bottom: -10;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;

borderTop: 1px solid #E7E7E7;
textAlign: center;

}

.nav-link{
  font: normal small-caps normal 36px/1.4 Georgia;
  color: #2699FB !important;
  font-style: oblique 23deg;
  padding: 10px;

}

.art{
  background-color: #FB9C00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

    font-size: calc(10px + 2vmin);
    color: white;
}
.music{
  background-color: #FF5722;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

    font-size: calc(10px + 2vmin);
    color: white;
}

.vids{
  background-color: #31FF00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

    font-size: calc(10px + 2vmin);
    color: white;
}

.con{
  background-color: #BA68C8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

    font-size: calc(10px + 2vmin);
    color: white;
}

.shop{
  background-color: #FCC400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

    font-size: calc(10px + 2vmin);
    color: white;
}

.button-style {
  border: none;
  padding: 20px;
  display: inline-block;
  text-align: center;
}
